@charset "UTF-8";

*
{
	font-family: olney, verdana;
	color: white;
}

input
{
	font-weight: bold;
	cursor: pointer;
	background-color: #B70;
	color: white;
}

.help
{
	color: orange;
}

body
{
    background-image: url("Images/BG.png");
    background-repeat: repeat;
    background-size: contain;
}

h1
{
	text-align: center;
}

h2
{
    text-align: center;
    font-size: 35px;
}

p
{
    font-size: 20px;  
}

ul
{
    font-size: 20px; 
}

strong
{
    font-size: 112%;
}

.IPServ
{
	color: yellow
}

#nav
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav li
{
    background-color: #333;
}

.list
{
    text-align: left;
}

#nav a {
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #222;
}

section
{
	background-color: rgba(28, 85, 57, 0.70);
	border: 10px solid black;
    margin-left: 10%;
	margin-right: 10%;
}

section > *
{
    margin-left: 20%;
	margin-right: 20%;
}

a[href]
{
    color: yellow;
}

a[href]:hover
{
	color: white;
}

#dwn
{
    display:inline;
    border: 5px solid black;
}

.responsive 
{
    width: 100%;
    height: auto;
}
.videoDiv
{
    position: relative;
    width: 60%;
    height: 0;
    padding-bottom: 33.75%;
}

.video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
